
<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col class="full-height flex-row flex-aCenter" size="2" sizeSm="1">
        <ion-buttons>
          <ion-menu-button *ngIf="isLogged" slot="start"></ion-menu-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="full-height flex-row flex-aCenter" size="8" sizeSm="3">
        <ion-title class="header-title">KineApp</ion-title>
      </ion-col>
      <ion-col size="2" sizeSm="8">
          <app-login-infos class="ion-hide-sm-down"></app-login-infos>
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-toolbar>
