/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



:root {
  --fc-border-color: #4139325c; //Set full calendar border color
}


.center-text{
  text-align: center;
}

.full-height{
  min-height: 100%;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-jCenter{
  justify-content: center;
}

.flex-jEnd{
  justify-content: flex-end;
}

.flex-aCenter{
  align-items: center;
}

.content-page{
  padding : 10px;
}

.menu-content-open{ //Unset the pointer-events property to prevent click disable effect when the menu is open
  pointer-events: unset !important;
}

@media screen and (min-width : 576px) {
  .content-page{
    padding : 30px;
  }

  ion-modal.addTSlot-modal::part(content) {
    --height: 280px;
    --width: 400px;
    border-radius: 25px;
    display: block;
  }

  ion-modal.edit-day-modal::part(content) {
    --height: 250px;
    --width: 350px;
    border-radius: 25px;
    display: block;
  }

  ion-modal.show-slot-modal::part(content) {
    --height: 250px;
    --width: 400px;
    border-radius: 25px;
    display: block;
  }

  ion-modal.addWeek-modal::part(content) {
    --height: 500px;
    --width: 700px;
    border-radius: 25px;
    display: block;
  }
}



